<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>PTSC TCMS</title>
  <link rel="shortcut icon" href="#" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="${pageContext.request.contextPath}/RM004JS.js"></script>
  <style>
    div.column {
      padding: 5px;
      float: left;
      display: table-cell;
      height: 100%
    }

    div.row {
      margin: 2px;
      padding: 3px;
      display: table-row;
      border: solid;
      border-width: 2px;
    }

    div.rowBorder {
      border: solid;
      border-width: px3;
    }

    div.container {
      padding: 5px;
      display: table;
      table-layout: fixed;
      border: solid navy;
      border-width: 3px;
      width: 90%;
    }

    .date {
      width: 130px;
    }

    select {
      width: 150px;
    }

    select:focus {
      min-width: 150px;
      max-width: 150px;
    }

    table {
      display: table;
      width: 100%;
      border-collapse: collapse;
      border: solid;
      border-width: px5;
    }

    tr {
      display: table-row;
      border: solid;
      border-width: px3;
    }

    td,
    th {
      display: table-cell;
      border: solid;
      border-width: px3;
    }
  </style>
</head>

<body>
  <h1>TCMS</h1>
  <h2>RM004 個人工時統計</h2>

  <div class="container">
    <div class="row rowBorder" id="RM004FormDiv">
      <form id="formRM004" action="document.URL/../QueryResults" method="post">
        <div class="column">
          <label for="deptNo">單位別</label>
          <br>
          <label for="secNo">處別</label>
          <br>
          <label for="empNo">人員</label>
          <br>
        </div>
        <div class="column">
          <select name="deptNo" id="deptNo" form="formRM004" autofocus {{#rm004model}}{{#deptNoSelect}}{{disabled}}{{/deptNoSelect}}{{/rm004model}}>
            {{#rm004model}}
              {{#deptNoSelect}}
                {{#dropdownList}}
                  <option value="{{optionValue}}" label="{{optionLabel}}" {{selected}}></option>
                {{/dropdownList}}
              {{/deptNoSelect}}
            {{/rm004model}}
          </select>
          <span id="spanDeptNo"></span>
          <br>
          <select class="secNo" name="secNo" id="secNo" form="formRM004" {{#rm004model}}{{#secNoSelect}}{{disabled}}{{/secNoSelect}}{{/rm004model}}>
            {{#rm004model}}
              {{#secNoSelect}}
                {{#dropdownList}}
                  <option value="{{optionValue}}" label="{{optionLabel}}" {{selected}}></option>
                {{/dropdownList}}
              {{/secNoSelect}}
            {{/rm004model}}
          </select>
          <span id="spanSecNo"></span>
          <br>
          <select name="empNo" id="empNo" form="formRM004" {{#rm004model}}{{#empNoSelect}}{{disabled}}{{/empNoSelect}}{{/rm004model}}>
            {{#rm004model}}
              {{#empNoSelect}}
                {{#dropdownList}}
                  <option value="{{optionValue}}" label="{{optionLabel}}" {{selected}}></option>
                {{/dropdownList}}
              {{/empNoSelect}}
            {{/rm004model}}
          </select>
          <span id="empSecNo"></span>
        </div>
        <div class="column">
          <br>
          <br>
          <input name="retiredEmp" id="retiredEmp" type="checkbox" checked><label for="retiredEmp">隱藏離職員工</label>
          <span id="spanRetiredEmp"></span>
        </div>
        <div class="column">
          <label for="oprStartDt">統計起日</label><br>
          <label for="prjNo">專案</label><br>
        </div>
        <div class="column">
          <input class="date" name="oprStartDt" id="oprStartDt" type="text" onchange="oprStartDtChangeHandler(event)"><br>
          <!--           onchange="oprStartDtChangeHandler" -->
          <select name="prjNo" id="prjNo" form="formRM004" {{#rm004model}}{{#prjNoSelect}}{{disabled}}{{/prjNoSelect}}{{/rm004model}}>
            {{#rm004model}}
              {{#prjNoSelect}}
                {{#dropdownList}}
                  <option value="{{optionValue}}" label="{{optionLabel}}" {{selected}}></option>
                {{/dropdownList}}
              {{/prjNoSelect}}
            {{/rm004model}}
          </select>
        </div>
        <div class="column">
          <label for="oprEndDt">統計迄日</label>
        </div>
        <div class="column">
          <input class="date" name="oprEndDt" id="oprEndDt" type="text" onchange="oprEndDtChangeHandler(event)"><br>
          <input id="btnQry" name="btnQry" type="submit" value="統計">
        </div>
      </form>
    </div>




    <div class="row rowBorder" id="RM004QueryResultsDiv">
      <div id="table">
        <table>
          <thead>
            <tr>
              <th>日期</th>
              <th>專案</th>
              <th>歸屬部門</th>
              <th>工作類別</th>
              <th>工作項目</th>
              <th>一般</th>
              <th>加班</th>
              <th>總工時</th>
              <th>工作備註</th>
              <th>處理項目</th>
            </tr>
          </thead>

          {{#rm004model}}
            {{#table}}
              {{#tableRow}}
                <tr>
                  <td>{{oprDat}}</td>
                  <td>{{prjNam}}</td>
                  <td>{{salDeptNo}}</td>
                  <td>{{wkClass}}</td>
                  <td>{{itemCName}}</td>
                  <td>{{workHr}}</td>
                  <td>{{overHr}}</td>
                  <td>{{totalHr}}</td>
                  <td>{{wkNote}}</td>
                  <td>{{wkType}}</td>
                </tr>
              {{/tableRow}}
            {{/table}}
            {{#table}}
              {{^tableRow}}
                <tr>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                </tr>
                <tr>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                </tr>
                <tr>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                  <td>/</td>
                </tr>
              {{/tableRow}}
            {{/table}}
          {{/rm004model}}

        </table>
      </div>
      <br>
      <input name="prjNo" type="button" value="匯出">
    </div>
  </div>

</body>



</html>
